<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Super hookah</title>
</head>

<body>

    {% include 'navbar.html' %}
    
    {% block content %}
    {% endblock %}


</body>

<footer>
    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?169"></script>

    <!-- VK Widget -->
    <div id="vk_community_messages"></div>
    <script type="text/javascript">
    VK.Widgets.CommunityMessages("vk_community_messages", 210968506, {tooltipButtonText: "Есть вопрос?"});
    </script>
</footer>

</html>