<head>
    <a href="/">
        LOGO
    </a>
    <a href='admin'>Admin</a> <br>
    
    {% if request.user.is_staff %}
        <a href="{% url 'add_game' %}">Добавить игру</a>
        <a href="{% url 'add_product' %}">Добавить пункт меню</a>
    {% endif %}
    
    {% if request.user.is_authenticated %}
        <a href="{% url 'check_reservations' %}">Просмотр резервов</a>   
        <a href="{% url 'logout' %}">Выход</a>
    {% else %}
        <a href="{% url 'login' %}">Регистрация/Вход</a>
    {% endif %}
    
    <a href="{% url 'make_order' 1 %}">Забронировать столик</a>
    <hr>

</head>

