{% extends 'base.html' %}

{% block title %}
Регистрация
{% endblock %}

{% block content %}


{% if page == 'login' %}
<div>
    <form method="POST" action="{% url 'login-process' %}">
        {% csrf_token %}
        <label for="phone">Phone</label>
        <input type="text" name="phone" placeholder="+7-XXX-XXX-XX-XX">

        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Input Password">

        <input type="submit" value="Login">

        <p>Еще не с нами?</p>
        <a href="{% url 'register' %}">Зарегестрироваться</a>
    </form>
</div>

{% else %}

<div>
    <form method="POST" action="{% url 'register-process' %}">
        {% csrf_token %}
        
        {{ form.as_p }}

        <input type="submit" value="Зарегестрироваться">

        <p>Уже есть аккаунт?</p>
        <a href="{% url 'login' %}">Войти</a>
    </form>
</div>

{% endif %}
{% endblock %}